body{
    margin: 0px;
    padding: 0px;
    background-image: url(./bg.png);
}

#box{
    height: 200px;
    width: 1000px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(3, 90, 112);
}
#main{
    height: 400px;
    width: 450px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    z-index: 99;
}

#loginform, #signupform{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    z-index: 999;
}
#signupform{
    top: 45%;
    left: 75%;
    visibility: hidden;
}
#loginfrom h1, #signupfrom h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: rgb(28, 41, 41);
}

#loginform input, #signupform input{
    height: 40px;
    width: 300px;
    border: 0px;
    outline: none;
    border-bottom: 2px solid black;
}
#loginform button, #signupform button{
    height: 35px;
    width: 130px;
    background-color: rgb(3, 90, 112);
    font-family: monospace;
    font-size: 16px;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 175px;
    cursor: pointer;
}
#login_btn, #signup_btn{
    height: 35px;
    width: 120px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    position: absolute;
    left: 75%;
    top: 65%;
    transform: translate(-50%,-50%);
    transition: all .5s;
    cursor: pointer;
}
#signup_btn{
    left: 25%;
}
#login_btn:hover, #signup_btn:hover{
    background-color: white;
    cursor: pointer;
    color: rgb(28, 41, 41);
}
#login_msg, #signup_msg{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    position: absolute;
    top: 35%;
    left: 75%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
#signup_msg{
    left: 25%;
}